body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: lightblue;
  transition-duration: 0.4s;
}

.header {
  text-align: center;
}

.description {
  margin: 20px 40px;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.accordian {
  background-color: rgb(212, 212, 212);
  text-emphasis-color: black;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  fint-size: 15px;
  transition: 0.4s;
}

.active,
.accordian:hover {
  background-color: lightblue;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.wrapper {
  margin-bottom: lem;
}

.inputField {
  width: 80%;
}

.contactForm {
  margin: auto;
  width: 75%;
}

.iconRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconRow {
  display: inline-block;
  width: 5%;
  margin-left: lem;
  margin-right: lem;
}

.back {
  background-color: black;
}

.header1 {
  text-emphasis-color: white;
}
