body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.navbar a hover {
  background-color: red;
}

.header {
  text-align: center;
}

.description {
  margin: 20px 40px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.active,
.accordian.hover {
  background-color: red;
}
